{% extends "base0.html" %}
{% block content %}
<html>
    <head>
    <title>Mensajería</title>
    <!--link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"-->
    </head>
        <body>

            <h1>Sus mensajes han sido enviados. Si gusta, puede visualizarlos en la terminal de comandoso o directamente en whatsapp. Favor de no interactura con el computador durante este proceso. </h1>
                <!--p><input type="submit" value="Cotizar" /></p-->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                </div>
            </form>
        </body>
</html>
{% endblock %}
