/*print.css*/

/*
header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
  display: none !important;
}
*/

/*article {
  column-width: 17em;
  column-gap: 3em;
}

* {
  background-image: none !important;
}

img, svg {
  display: none !important;
}

img.print, svg.print {
  display: block;
  max-width: 100%;
}

img.dark {
  filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
}

 img, svg {
  break-inside: avoid;
}*/

.saltard {
  break-after:always !important;
}

.saltara {
  break-before:always !important;
}


/*
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }

#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

#pageFooter:after {
    counter-increment: page;
    content: counter(page);
}
*/
